@typeparam TItem

@inherits OwningComponentBase<DatabaseService>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        @if (HeaderTemplate is not null)
        {
            @HeaderTemplate
        }
    </thead>
    <tbody>
        @if (Items is not null && RowTemplate is not null)
        {
            foreach (var item in Items)
            {
                @RowTemplate(item)
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<TItem> Items { get; set; } = [];

    [Parameter]
    public RenderFragment? HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }
}
